# MovieLens Analytics

In this project, I'll analyze 45,000 movies from MovieLens Dataset consisting of movies up to July 2017 with the use of PostgreSQL and Pandas

data source: https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?select=movies_metadata.csv

To keep things more compact and readable, let's explore data and figure out what columns we'll use in later SQL queries with the help of Pandas

# Data Preparation with Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/movies_metadata.csv')
# Transpose for easier exploration of this dataset with many cols
df.head(3).transpose()

C:\Windows\Temp\ipykernel_23168\3199233999.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/movies_metadata.csv')

,0,1,2
adult,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect..."
budget,30000000,65000000,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
homepage,http://toystory.disney.com/toy-story,NaN,NaN
id,862,8844,15602
imdb_id,tt0114709,tt0113497,tt0113228
original_language,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...
popularity,21.946943,17.015539,11.7129
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15,1995-12-22
revenue,373554033.0,262797249.0,0.0
runtime,81.0,104.0,101.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...
title,Toy Story,Jumanji,Grumpier Old Men
video,False,False,False
vote_average,7.7,6.9,6.5
vote_count,5415.0,2413.0,92.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
df["adult"].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [5]:
df["video"].value_counts()

False    45367
True        93
Name: video, dtype: int64

In [6]:
df["status"].value_counts()

Released           45014
Rumored              230
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

The columns 'adult', 'status' and 'video' have predominantly one value, so let's remove them. Also, let's remove 'poster_path', 'hopepage' (not many not null values), 'id' and 'imdb_id' (we'll stick to one table for now), 'spoken_languages', 'overview' and 'tagline' (we won't be conducting text analysis here + rows can get inconsistent with big amount of text from these cols)

In [7]:
df = df.drop(
    [
        "adult",
        "status",
        "video",
        "poster_path",
        "original_title",
        "homepage",
        "id",
        "imdb_id",
        "spoken_languages",
        "overview",
        "tagline",
    ],
    axis=1,
)
df.head(3).transpose()

,0,1,2
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect..."
budget,30000000,65000000,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
original_language,en,en,en
popularity,21.946943,17.015539,11.7129
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15,1995-12-22
revenue,373554033.0,262797249.0,0.0
runtime,81.0,104.0,101.0
title,Toy Story,Jumanji,Grumpier Old Men
vote_average,7.7,6.9,6.5
vote_count,5415.0,2413.0,92.0

##### IMPORTANT: strange cases like budget of 0 for 'Grumpier Old Men' at the right will be handled in later SQL queries

Now let's have a look at dtypes

## Converting dtypes to more appropriate ones

In [8]:
df.dtypes

belongs_to_collection     object
budget                    object
genres                    object
original_language         object
popularity                object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
title                     object
vote_average             float64
vote_count               float64
dtype: object

First of all, let's handle 'release_date' column

In [9]:
# Convert 'release_date' column to datetime type
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
# Count the number of rows with bad date values
bad_date_count = df['release_date'].isnull().sum()
print(f"Number of rows with bad date values: {bad_date_count}")

Number of rows with bad date values: 90

Since 90 rows compared to 45,000 in total is nothing, we can freely remove them

In [10]:
# Remove rows with null or NaT values
df = df.dropna(subset=['release_date'])
bad_date_count = df['release_date'].isnull().sum()
print(f"Number of rows with bad date values: {bad_date_count}")

Number of rows with bad date values: 0

The column 'budget' contains non-numerical values like '/ff9qCepilowshEtG2GYWwzt2bs4.jpg'. Let's remove them

In [11]:
# Clean 'budget' column to remove non-numeric characters
df["budget"] = df["budget"].str.replace(r"\D", "", regex=True)

I don't like that columns with whole numbers like 'runtime' or 'vote_count' have dtype set to float. Let's change that

In [12]:
# Specify columns and their new data types
dict_columns_to_convert = {
    "budget": "int64",
    "revenue": "int64",
    "runtime": "int",
    "vote_count": "int"
}
# Clean 'budget' column to remove non-numeric characters
df["budget"] = df["budget"].str.replace(r"\D", "", regex=True)
# Fill NaN values with 0
cols_to_fill = list(dict_columns_to_convert.keys())
df[cols_to_fill] = df[cols_to_fill].fillna(0)
# Convert columns to integer type
df = df.astype(dict_columns_to_convert)
# Check the data types of the DataFrame
print(df.dtypes)

belongs_to_collection            object
budget                            int64
genres                           object
original_language                object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                           int64
runtime                           int32
title                            object
vote_average                    float64
vote_count                        int32
dtype: object

Time to extract data from JSON columns

## Working with 'belongs_to_collection' column

In [13]:
from ast import literal_eval

def extract_franchise_name(x):
    try:
        # Use literal_eval to safely evaluate the string as a Python dictionary
        # Extract the 'name' value from the dictionary
        return literal_eval(x)["name"]
    except (ValueError, TypeError):
        return "NULL"

# Apply the extract_franchise_name function to each value in the 'belongs_to_collection' column
df["franchise"] = df["belongs_to_collection"].apply(extract_franchise_name).str.strip()
# Remove the word 'Collection' (case-insensitive) from the end of each franchise name
df["franchise"] = df["franchise"].str.replace(r"[Cc]ollection$", "", regex=True)
# Remove trailing spaces before and after the string
df["franchise"] = df["franchise"].str.strip()
df = df.drop(["belongs_to_collection"], axis=1)

In [14]:
df["franchise"].value_counts().head(7)

NULL                             40888
The Bowery Boys                     29
Totò                                27
James Bond                          26
Zatôichi: The Blind Swordsman       26
The Carry On                        25
Pokémon                             22
Name: franchise, dtype: int64

## Working with 'production_countries' column

In [15]:
def process_countries(countries):
    try:
        countries_list = literal_eval(countries)
        if len(countries_list) == 1:
            return countries_list[0]["name"]
        # Put 'Multiple' if movie was made in several countries
        elif len(countries_list) > 1:
            return "Multiple"
        # Put 'NULL' if the field is empty
        else:
            return "NULL"
    except (ValueError, TypeError):
        return "NULL"

# Apply the process_countries function to each value in the 'production_countries' column
df["production_country"] = df["production_countries"].apply(process_countries)
df = df.drop(["production_countries"], axis=1)

In [16]:
df["production_country"].value_counts().head(7)

United States of America    17846
Multiple                     7026
NULL                         6211
United Kingdom               2235
France                       1653
Japan                        1356
Italy                        1029
Name: production_country, dtype: int64

## Working with 'genres' column

In [17]:
# Convert the stringified JSON into a list of dictionaries
df["genres"] = df["genres"].apply(
    lambda x: literal_eval(x.replace("'", '"')) if isinstance(x, str) else []
)
# Extract the names of genres into a list and sort them alphabetically
df["genres"] = df["genres"].apply(
    lambda x: sorted([genre["name"] for genre in x]) if isinstance(x, list) else []
)
# Display the DataFrame with the extracted genre names
df[["title", "genres"]].head(3)

              title                        genres
0         Toy Story   [Animation, Comedy, Family]
1           Jumanji  [Adventure, Family, Fantasy]
2  Grumpier Old Men             [Comedy, Romance]

In [18]:
# Flatten the list of genre names
flat_genre_names = [genre for sublist in df["genres"] for genre in sublist]
# Get the unique genre names
unique_genre_names = set(flat_genre_names)
# Print the unique genre names
print(f"There are {len(unique_genre_names)} unique genres.")
print(unique_genre_names)

There are 20 unique genres.
{'Music', 'History', 'Adventure', 'War', 'Documentary', 'Horror', 'Romance', 'TV Movie', 'Mystery', 'Science Fiction', 'Thriller', 'Foreign', 'Crime', 'Drama', 'Animation', 'Comedy', 'Family', 'Western', 'Fantasy', 'Action'}

We can see that 'genres' colomn has faulty data like 'Carousel Productions' or 'Vision View Entertainment', which sound like production companies, not genres. Thus, let's remove such values from the column

In [19]:
# Define the list of valid genre names
valid_genres = {
    'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
    'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery',
    'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western'
}
# Filter the genre_names column to include only the valid genres
df["genres"] = df["genres"].apply(lambda x: [genre for genre in x if genre in valid_genres])

Now let's check again

In [20]:
flat_genre_names = [genre for sublist in df["genres"] for genre in sublist]
unique_genre_names = set(flat_genre_names)
print(f"There are {len(unique_genre_names)} unique genres.")
print(unique_genre_names)

There are 19 unique genres.
{'Music', 'History', 'Adventure', 'War', 'Documentary', 'Horror', 'Romance', 'TV Movie', 'Mystery', 'Science Fiction', 'Thriller', 'Crime', 'Drama', 'Animation', 'Comedy', 'Family', 'Western', 'Fantasy', 'Action'}

In [21]:
df["genres"].value_counts().head(7)

[Drama]              5296
[Comedy]             3698
[Documentary]        2839
[]                   2403
[Drama, Romance]     1792
[Comedy, Drama]      1748
[Comedy, Romance]    1165
Name: genres, dtype: int64

One movie can belong to many genres and one genre can be applied to many movies. It's a many-to-many relationship. Ideally, this kind of relationship is supposed to be broken into two 1:M relationships and connected with an intermidiate or junction table. However, because

- it's a project to show my knowledge mainly of writing SQL queries
- I'm applying to a junior data analyst position, and, at that role, you're not supposed to design databases
- preparation part is already too long
- maximum string length for genres is known (80 symbols for the movie with the title 'Yu-Gi-Oh')

I'll keep things simple and connect genre names by comma.

In [22]:
# Convert the list of genres into a string with comma as a delimiter
df["genres"] = df["genres"].apply(lambda x: ", ".join(x) if x else "NULL")

In [23]:
df["genres"].value_counts().head(7)

Drama              5296
Comedy             3698
Documentary        2839
NULL               2403
Drama, Romance     1792
Comedy, Drama      1748
Comedy, Romance    1165
Name: genres, dtype: int64

Before creating a table in the database, we'll need to know the maximum str len of ex-JSON columns

In [24]:
# Sort the DataFrame by the length of the genre_names lists in descending order
df_sorted = df[df["genres"].apply(lambda x: len(x) > 0)].copy()  # Remove empty lists
df_sorted["genres_length"] = df_sorted["genres"].apply(len)
df_sorted = df_sorted.sort_values(by="genres_length", ascending=False)
# Display the DataFrame with the longest genres lists first
df_sorted[["title", "genres", "genres_length"]].head(10)

,title,genres,genres_length
8084,Yu-Gi-Oh! The Movie,"Action, Adventure, Animation, Comedy, Family, ...",80
32298,Hellboy Animated: Blood and Iron,"Action, Animation, Fantasy, Horror, Science Fi...",71
5015,Vampire Hunter D: Bloodlust,"Action, Adventure, Animation, Fantasy, Horror,...",71
11743,Origin: Spirits of the Past,"Action, Adventure, Animation, Drama, Fantasy, ...",70
4860,Jimmy Neutron: Boy Genius,"Action, Adventure, Animation, Comedy, Family, ...",70
2414,Westworld,"Action, Adventure, Drama, Horror, Science Fict...",68
34383,Princes and Princesses,"Animation, Comedy, Drama, Family, Fantasy, Rom...",67
16387,Malice in Wonderland,"Action, Crime, Drama, Fantasy, Romance, Scienc...",65
36129,April and the Extraordinary World,"Adventure, Animation, Comedy, Fantasy, Science...",64
12885,Star Wars: The Clone Wars,"Action, Adventure, Animation, Fantasy, Science...",64

And so the time has come to work with the last JSON column

## Working with 'production_companies' column

In [25]:
def process_companies(companies):
    try:
        companies_list = literal_eval(companies)
        if len(companies_list) == 1:
            return companies_list[0]["name"]
        elif len(companies_list) > 1:
            return ", ".join([company["name"] for company in companies_list])
        else:
            return "NULL"
    except (ValueError, TypeError):
        return "NULL"

# Apply the process_companies function to each value in the 'production_companies' column
df["production_companies"] = df["production_companies"].apply(process_companies)
df[["title", "production_companies"]].head()

,title,production_companies
0,Toy Story,Pixar Animation Studios
1,Jumanji,"TriStar Pictures, Teitler Film, Interscope Com..."
2,Grumpier Old Men,"Warner Bros., Lancaster Gate"
3,Waiting to Exhale,Twentieth Century Fox Film Corporation
4,Father of the Bride Part II,"Sandollar Productions, Touchstone Pictures"

In [26]:
df["production_companies"].value_counts().head(10)

NULL                                      11796
Metro-Goldwyn-Mayer (MGM)                   742
Warner Bros.                                540
Paramount Pictures                          505
Twentieth Century Fox Film Corporation      439
Universal Pictures                          320
RKO Radio Pictures                          247
Columbia Pictures Corporation               207
Columbia Pictures                           146
Mosfilm                                     145
Name: production_companies, dtype: int64

Again, let's find out the max str len

In [27]:
df_sorted = df[df["production_companies"].apply(lambda x: len(x) > 0)]
df_sorted["prod_comp_length"] = df_sorted["production_companies"].apply(len)
df_sorted = df_sorted.sort_values(by="prod_comp_length", ascending=False)
df_sorted[["title", "production_companies", "prod_comp_length"]].head(10)

,title,production_companies,prod_comp_length
36122,Long Way North,"Det Danske Filminstitut, Angoa-Agicoa, Procire...",609
4837,No Man's Land,"Eurimages, TPS Cinéma, Man's Films, Counihan V...",556
32101,Les Barons,"Centre National de la Cinématographie, Vlaams ...",556
20373,Blancanieves,"Eurimages, Motion Investment Group, Arte Franc...",544
33026,The Brand New Testament,"Caviar Films, Le Pacte, Radio Télévision Belge...",529
13782,Flame & Citron,"Det Danske Filminstitut, Wüste Filmproduktion,...",517
13748,Antichrist,"Zentropa Entertainments, Det Danske Filminstit...",516
21055,Foxfire,"France 2 Cinéma, Téléfilm Canada, Alliance Fil...",513
42121,Raw,"Angoa-Agicoa, MEDIA Programme of the European ...",499
3786,Dancer in the Dark,"Fine Line Features, Zentropa Entertainments, D...",497

After all the operations completed above, we have the following df

In [28]:
df.head(3).transpose()

,0,1,2
budget,30000000,65000000,0
genres,"Animation, Comedy, Family","Adventure, Family, Fantasy","Comedy, Romance"
original_language,en,en,en
popularity,21.946943,17.015539,11.7129
production_companies,Pixar Animation Studios,"TriStar Pictures, Teitler Film, Interscope Com...","Warner Bros., Lancaster Gate"
release_date,1995-10-30 00:00:00,1995-12-15 00:00:00,1995-12-22 00:00:00
revenue,373554033,262797249,0
runtime,81,104,101
title,Toy Story,Jumanji,Grumpier Old Men
vote_average,7.7,6.9,6.5
vote_count,5415,2413,92
franchise,Toy Story,NULL,Grumpy Old Men
production_country,United States of America,United States of America,United States of America

## Final steps of data preparation with Pandas

Time to add index col, change dtypes, and rearrange columns a little bit because I'm not happy with the order of columns

In [29]:
# add index column
df["id"] = range(1, len(df) + 1)
new_cols_order = [
    "id",
    "title",
    "franchise",
    "release_date",
    "runtime",
    "genres",
    "production_country",
    "production_companies",
    "original_language",
    "budget",
    "revenue",
    "popularity",
    "vote_average",
    "vote_count"
]
df = df[new_cols_order]
df.head(3).transpose()

,0,1,2
id,1,2,3
title,Toy Story,Jumanji,Grumpier Old Men
franchise,Toy Story,NULL,Grumpy Old Men
release_date,1995-10-30 00:00:00,1995-12-15 00:00:00,1995-12-22 00:00:00
runtime,81,104,101
genres,"Animation, Comedy, Family","Adventure, Family, Fantasy","Comedy, Romance"
production_country,United States of America,United States of America,United States of America
production_companies,Pixar Animation Studios,"TriStar Pictures, Teitler Film, Interscope Com...","Warner Bros., Lancaster Gate"
original_language,en,en,en
budget,30000000,65000000,0
revenue,373554033,262797249,0
popularity,21.946943,17.015539,11.7129
vote_average,7.7,6.9,6.5
vote_count,5415,2413,92

Columns explanation:
- id - row id
- title - official title of the movie
- franchise - a particular franchise to which the movie belongs, if applicable
- release_date - theatrical release date of the movie
- runtime - movie duration/runtime in minutes
- genres - genres associated with the movie, separated by a comma
- production_country - the country/countries where the movie was shot/produced. If several countries were involved, the cell contains the value 'Multiple'
- production_companies - production companies involved in making of the movie
- original_language - the language in which the movie was originally shot
- budget - movie budget in dollars
- revenue - total movie revenue in dollars
- popularity - popularity score assigned by TMDB
- vote_average - average movie rating
- vote_count - number of votes by users, counted by TMDB

Let's save the cleaned up dataset, which we'll use in the next chapters

In [30]:
# df.to_csv("data/data.csv", index=False)

# Loading Data to PostgreSQL

Okay, time to finally work with databases

## Creating a new database

<img src="images/creating_database_1.png">

<img src="images/creating_database_2.png">

<img src="images/creating_database_3.png">

Database is successfully created. Now time to create a table for our movies data

## Creating 'movies' table

<img src="images/creating_table_1.png">

And to the last step - filling the newly created table with data

## Filling table with data

<img src="images/filling_table_1.png">

<img src="images/filling_table_2.png">

<img src="images/filling_table_3.png">

<img src="images/filling_table_4.png">

<img src="images/filling_table_5.png">

# Connecting to the database in Jupyter Notebook

To be able to connect to our database, we'll need the following libraries:

1. **ipython-sql**: Enables executing SQL queries in Jupyter Notebooks for direct database interaction.

2. **psycopg2**: Python adapter for PostgreSQL, facilitating PostgreSQL database interaction.

3. **configparser**: Manages configuration settings, like database credentials, in a more secure way.

In [1]:
import psycopg2
import configparser
import pandas as pd
# magic function used to connect with the postgresql database
%load_ext sql

Read the parameters from the config file

In [2]:
config = configparser.ConfigParser()
config.read('db_vars.cfg')
DB_USER = config.get('SQL', 'DB_USER')
DB_PASSWORD = config.get('SQL', 'DB_PASSWORD')

Connect to the database

In [3]:
DB_NAME = "movielens"
conn_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@127.0.0.1/{DB_NAME}"
%sql $conn_string

# Writing SQL Queries

After all these steps, we can finaly begin writing SQL queries

In [4]:
%%sql

SELECT *
FROM movies
LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/movielens
5 rows affected.

[(1, 'Toy Story', 'Toy Story', datetime.date(1995, 10, 30), 81, 'Animation, Comedy, Family', 'United States of America', 'Pixar Animation Studios', 'en', 30000000, 373554033, 21.946943, 7.7, 5415),
 (2, 'Jumanji', 'NULL', datetime.date(1995, 12, 15), 104, 'Adventure, Family, Fantasy', 'United States of America', 'TriStar Pictures, Teitler Film, Interscope Communications', 'en', 65000000, 262797249, 17.015539, 6.9, 2413),
 (3, 'Grumpier Old Men', 'Grumpy Old Men', datetime.date(1995, 12, 22), 101, 'Comedy, Romance', 'United States of America', 'Warner Bros., Lancaster Gate', 'en', 0, 0, 11.7129, 6.5, 92),
 (4, 'Waiting to Exhale', 'NULL', datetime.date(1995, 12, 22), 127, 'Comedy, Drama, Romance', 'United States of America', 'Twentieth Century Fox Film Corporation', 'en', 16000000, 81452156, 3.859495, 6.1, 34),
 (5, 'Father of the Bride Part II', 'Father of the Bride', datetime.date(1995, 2, 10), 106, 'Comedy', 'United States of America', 'Sandollar Productions, Touchstone Pictures', 'en', 0, 76578911, 8.387519, 5.7, 173)]


Hmm, the 'budget' and 'revenue' columns contain very large values, making it difficult to distinguish between them.. Thus, to improve readability, let's divide the values in the 'revenue' and 'budget' columns by one million, as movie budgets and revenues are typically counted in millions.

In [27]:
%%sql

SELECT
    title,
    release_date,
    budget,
    ROUND(budget / 1000000::NUMERIC, 2) AS budget_in_millions,
    revenue,
    ROUND(revenue / 1000000::NUMERIC, 2) AS revenue_in_millions
FROM movies
WHERE budget <> 0 AND revenue <> 0
ORDER BY revenue_in_millions DESC
LIMIT 15;

 * postgresql://postgres:***@127.0.0.1/movielens
15 rows affected.

[('Avatar', datetime.date(2009, 12, 10), 237000000, Decimal('237.00'), 2787965087, Decimal('2787.97')),
 ('Star Wars: The Force Awakens', datetime.date(2015, 12, 15), 245000000, Decimal('245.00'), 2068223624, Decimal('2068.22')),
 ('Titanic', datetime.date(1997, 11, 18), 200000000, Decimal('200.00'), 1845034188, Decimal('1845.03')),
 ('The Avengers', datetime.date(2012, 4, 25), 220000000, Decimal('220.00'), 1519557910, Decimal('1519.56')),
 ('Jurassic World', datetime.date(2015, 6, 9), 150000000, Decimal('150.00'), 1513528810, Decimal('1513.53')),
 ('Furious 7', datetime.date(2015, 4, 1), 190000000, Decimal('190.00'), 1506249360, Decimal('1506.25')),
 ('Avengers: Age of Ultron', datetime.date(2015, 4, 22), 280000000, Decimal('280.00'), 1405403694, Decimal('1405.40')),
 ('Harry Potter and the Deathly Hallows: Part 2', datetime.date(2011, 7, 7), 125000000, Decimal('125.00'), 1342000000, Decimal('1342.00')),
 ('Frozen', datetime.date(2013, 11, 27), 150000000, Decimal('150.00'), 1274219009, Decimal('1274.22')),
 ('Beauty and the Beast', datetime.date(2017, 3, 16), 160000000, Decimal('160.00'), 1262886337, Decimal('1262.89')),
 ('The Fate of the Furious', datetime.date(2017, 4, 12), 250000000, Decimal('250.00'), 1238764765, Decimal('1238.76')),
 ('Iron Man 3', datetime.date(2013, 4, 18), 200000000, Decimal('200.00'), 1215439994, Decimal('1215.44')),
 ('Minions', datetime.date(2015, 6, 17), 74000000, Decimal('74.00'), 1156730962, Decimal('1156.73')),
 ('Captain America: Civil War', datetime.date(2016, 4, 27), 250000000, Decimal('250.00'), 1153304495, Decimal('1153.30')),
 ('Transformers: Dark of the Moon', datetime.date(2011, 6, 28), 195000000, Decimal('195.00'), 1123746996, Decimal('1123.75'))]